/* Larger than mobile */
@media (min-width: 400px) {
    .nav-main ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        font-size: 3rem;
        padding-left: 3rem;
    }
    .nav-main ul li:last-child {
        padding-right: 3rem;
    }
}

/* Larger than phablet (also point when grid in Skeleton becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    footer {
        font-size: 1.6rem;
        line-height: 200%; /*Adds much needed height to links especially when it goes into two lines as it will on some sites*/
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    footer a:link {
        color: #004f5c;
    }
    footer a:visited {
        color: #004f5c;
    }
    footer ul {
        margin: 0;
        padding: 2rem 0 0 0;
    }
    footer ul li {
        border-right: 0.3rem solid #000;
        display: inline-block;
        margin: 0;
        padding: 0 1rem 0 0.7rem;
    }
    footer ul li:first-child {
        padding-left: 0;
    }
    footer ul li:last-child {
        border-right: 0;
        padding-right: 0;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}