/* Larger than mobile */
@media (min-width: 400px) {
    footer {
        font-size: 1.6rem;
        line-height: 200%; /*Adds much needed height to links especially when it goes into two lines as it will on some sites*/
    }
    footer ul {
        padding: 2rem 0 0 0; /*Adds a gap above the list so it's not stuck to the bottom of the content above it*/
    }
    footer ul li {
        border-right: 0.3rem solid #000;
        display: inline-block;
        margin: 0;
        padding: 0 1rem 0 0.7rem;
    }
    /*Prevents unnecessary/problematic padding and borders on first and last elements in the list*/
    footer ul li:first-child {
        padding-left: 0;
    }
    footer ul li:last-child {
        border-right: 0;
        padding-right: 0;
    }
    
    .fluid-images-3 img {     /*figure area containing 3 images side by side*/
        float: left; /*Lets them stack but breaks when a link is added*/
        max-width: 30.33%; /*-3% due to padding-left %*/
        padding-left: 4.5%; /*Would be 3% but the fact that the first one has no padding-left means we add 1.5% (half of the padding that would have been on the first image)*/
    }
    
    .left {
        float: left;                                            /* restores floating for higher resolutions, same below */
    }
    .right {
        float: right;
    }

    .nav-top ul {
        padding: 1rem;
        text-align: left;
    }
    .nav-top ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        font-size: 1.5rem;
        padding-left: 3rem;
    }
    .nav-top ul li:first-child {
        padding-left: 0; /*Removes for first bullet so it aligns nicely at top of page*/
    }
    .nav-top ul li:last-child {
        padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    
    .nav-main ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        font-size: 3rem;
        padding-left: 3rem;
    }
    .nav-main ul li:last-child {
        padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    
    .small {
        font-size: 1.5rem;
    }
    
    /*YouTube embed responsive solution from https://coolestguidesontheplanet.com/videodrome/youtube/*/

    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

/* Larger than phablet (also point when grid in Skeleton becomes active) */
@media (min-width: 550px) {
    header {
        background: url(../img/bg-banner.jpg) 0% 0%/100%;
    }
    
    ol {
        margin: 1.5rem auto;
        width: 60%;
    }
    ol li {
        padding: 0.5rem 0;
    }
    
    table {
        margin: 0 auto;
        width:80%;
    }
    thead {
        display: table-header-group; /*Removes hidden status for table headers*/
    }
    thead th {
        padding: 2%;
    }
    tbody td {
        display: table-cell; /*Re-aligns table cells so they'll sit under their headers!*/
        padding: 2%;
    }
    tbody td::before { /*Disabling JavaScript stuff and changing formatting to normal table style*/
        content: none; /*Disables the JavaScript content generation used in the mobile-friendly layout*/
        display: table; /*Returns all cells to table alignment, without this they stay in one column*/
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .textbig7 {
        font-size: 7rem;
    }
    .textbig8 {
        font-size: 8rem;
    }
    .textbig9 {
        font-size: 9rem;
    }
    .textmid1.75 {
        font-size: 1.75rem;
    }
    .textmid2 {
        font-size: 2rem;
    }
    .textshadow-mid {
        text-shadow: 4px 4px 8px #333;
    }
    .textshadow-soft {
        text-shadow: 4px 4px 12px #666;
    }
    .textshadow-strong {
        text-shadow: 4px 4px 9px #000;
    }
    
    .list-contents { /*Centred list of links for pages with subpages that I want to list*/
        background: #fff;
        border-top: 5px solid #ffa726;
        box-shadow: 20px 15px 40px #444;
        font-size: 2.5rem;
        list-style: none;
        margin: 2rem;
        padding: 1.5rem 0 1.5rem 0;
        text-align: center;
    }
    .list-contents li {
        display: inline-block;
        margin: 0;
        padding: 0 2rem 0 0;
    }
    
    .width-50 {
        width: 50%;
    }
    
    .width-80 {
        width: 80%;
    }

    .width-90 {
        width: 90%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}