/*
#delete any bits marked with #delete later when cleaning up
*/

/* for example here would have like 
a { text-decoration: none
this or that etc; } 

KEEP THIS GLOBAL and also largely reset so no padding, margins etc. And just for mobile #delete */

/* Element Selectors */


a {
    color: #0082ba;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #0fa0ce;
}

a:visited {
    color: #0082ba;
}

body {
    background: #50a6cd;
    font: 1.5rem "Trebuchet MS", sans-serif;
}

code {
    font: 1.5rem "American Typewriter", monospace;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

h1 {
    font: 4.5rem "Impact", serif;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h5 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h6 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    
}

img {
    margin: 0;
    padding: 0;
}

main {
    
}

nav {
    background: #fff;
}

ol {
    
}

p {
    
}

table {
    
}

ul {
    
}


/* ID Selectors */



/* Class Selectors */

.centre {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.nav-main ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/*#nav-main {
    
}
#nav-main a {
    color: #ff7800;
    text-decoration: none;
}
#nav-main a:hover {
    color: #db6700;
}
#nav-main ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#nav-main ul li {
    color: #ffa726;
    display: inline-block;
    *display: inline;                                       /* IE7 */
        /**zoom: 1;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 3rem;
    padding-left: 3rem;
}
#nav-main ul li:last-child {
    padding-right: 3rem;
}*/