/*N.B. THIS IS MOBILE FIRST so all selectors etc in this should be mobile-friendly, anything else is in breaks.css*/

/* Element Selectors */


a {
    color: #0082ba;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #0fa0ce;
}

a:visited {
    color: #0082ba;
}

body {
    background: #50a6cd;
    font: 1.5rem "Trebuchet MS", sans-serif;
}

code {
    font: 1.5rem "American Typewriter", monospace;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

h1 {
    font: 4.5rem "Impact", serif;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h5 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h6 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    
}

#footer {
    font-size: 1.5rem;
}
#footer ul li {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

main {
    
}

nav {
    background: #fff;
}

ol {
    
}

/*Padding on bottom has to be reduced to prevent over-padding between paragraphs. last-child and last-of-type combined take care of all cases where you'll want it to have a full bottom padding (at the end of a series of paragraphs for instance).*/

p {
  margin: 0;
  padding: 1.5rem 1.5rem 0.25rem 1.5rem;
}
p:last-child {
    padding-bottom: 1.5rem;
}
p:last-of-type {
    padding-bottom: 1.5rem;
}

/* CSS for table mobile fix JavaScript, from: http://sitesforprofit.com/responsive-tables-in-wordpress */

table {
    width:100%;
}
thead {
    display: none;
}
/*tr:nth-of-type(2n) {background-color: inherit;} removed as it seems to make background disappear on final cell*/
tr td:first-child {
    background: #ffa123; 
    font-weight:bold;
    font-size:1.3em;
} /*change this to control the properties of the newly styled table cell that's added when the resize happens*/
tbody td {
    display: block;  
    text-align:center;
}
tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
}

ol {
    margin: 0;
    padding: 0 0 0 5rem;
}

ul {
    margin: 0;
    padding: 0 0 0 5rem;
}





/* ID Selectors */









/* Class Selectors */

.centre {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.nav-main ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/*#nav-main {
    
}
#nav-main a {
    color: #ff7800;
    text-decoration: none;
}
#nav-main a:hover {
    color: #db6700;
}
#nav-main ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#nav-main ul li {
    color: #ffa726;
    display: inline-block;
    *display: inline;                                       /* IE7 */
        /**zoom: 1;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 3rem;
    padding-left: 3rem;
}
#nav-main ul li:last-child {
    padding-right: 3rem;
}*/