/* N.B. Everything up here is >1100px max-width, see breaks.css for other breakpoints */

/* Hashtags
#test - any test stuff that needs removing later
#weird - any weird stuff I don't understand but don't have time to look up/doesn't matter
*/


/* -------------------------
Basic element customisations - body, font faces, paragraph layout etc
------------------------- */

a {
  color: #0082ba; }
a:hover {
  color: #0FA0CE; }

body {
  background: #50a6cd;
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "BenchNine", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 1.5rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}

header {
  height: 220px;
  width: 100%;
}

img {
  margin: 0;
  padding: 2rem;
}

ol {
  margin: 1.5em auto;
  width: 60%;
}

ol li {
  padding: 0.5em 0;
}

p {
  margin: 0;
  padding: 1.5rem;
}

table {
  font-size: 1.6rem;
}

ul li {
  padding: 0.5em 0;
}

/* -------------------------
IDs and classes
------------------------- */

/*#aboutnav {
  width: 90%;
  margin: 0 auto;
  border-bottom: 3px #105cbd solid;
}
#aboutnav h2 {
  margin: 0;
  padding: 0 0 0.5em 0;
}*/

#content {
  margin-top: 30px;
}
#content p {                                           /* better margins for text on desktop */
  width: 70%;
  margin: 0 auto;
}
#content-objectivebox { /*home page objective box*/
  margin: 0 0 5% 5%;
  width: 90%;
}
#content-objectivebox-image {
  margin: 0 auto;
  width: 90%;
}

#event { /*targeting the event box that events stuff goes into from Perch*/
}
#event h1 {
  margin: 0;
  padding: 2% 5% 2% 5%;
}
#event h2 {
  margin: 0;
  padding: 2% 5% 2% 5%;
}
  #event h2.event-title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 75%;
  }
#event h3 {
  margin: 0;
  padding: 2% 5% 2% 5%;
}
  #event h3.event-date {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 75%;
  }
#event h4 {
  font-size: 2.9rem;
  margin: 0;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
#event h5 {
  font-size: 2.7rem;
  margin: 0;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
#event h6 {
  font-size: 2.5rem;
  margin: 0;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
#event img { /*targets images that are alone*/
  margin: 0 0 0 25%;
  padding: 0;
  width: 50%;
}
#event p img { /*targets the images when they're two in a line as they're always in <p> tags*/
  margin: 0;
  padding: 0;
  width: 45%; /*to compensate for 10% margin on first image below - 45+45=90 and then 10% margin*/
}
#event p img:first-child {
  margin-right: 10%; /*so there's some space between two images in a line*/
}


#funding { /*targeting the funding area at bottom of home page; having to copy news and events CSS almost exactly because this stylesheet is inefficient! Only thing that really changes is the img stuff*/
}
#funding h1 {
  margin: 0;
  padding: 2% 5% 2% 5%;
}
#funding h2 {
  margin: 0;
  padding: 2% 5% 2% 5%;
}
  #funding h2.event-title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 75%;
  }
#funding h3 {
  margin: 0;
  padding: 2% 5% 2% 5%;
}
  #funding h3.event-date {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 75%;
  }
#funding h4 {
  font-size: 2.9rem;
  margin: 0;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
#funding h5 {
  font-size: 2.7rem;
  margin: 0;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
#funding h6 {
  font-size: 2.5rem;
  margin: 0;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
#funding img { /*targets images that are alone*/
  margin: 0 0 0 40%;
  padding: 0;
  width: 20%;
}
#funding p img { /*targets the images when they're two in a line as they're always in <p> tags*/
  margin: 0 16% 0 16%;
  padding: 0;
  width: 20%; /*to compensate for 10% margin on first image below - 45+45=90 and then 10% margin*/
}
#funding p img:first-child {
  margin-right: 10%; /*so there's some space between two images in a line*/
}



/* HEADER LOGO/TITLE AREA - lots of fancy layout stuff needed for this! */

#header-left { /*contains logo in a left column*/
  width: 25%;
  height: 233px;
  position: absolute;
    top: 70px;
    left: 0;
}
  #header-logo { /*logo itself, sits in header-logo-box and ignores its width % attribute as it has a fixed pixel width*/
    background: url(../images/logo.png) no-repeat center/233px;
    width: 233px;
    height: 233px;
  }
#header-right { /*right side container in header, right of logo*/
  font-family: "Arial Narrow", sans-serif;
  position: absolute;
    top: 90px;
    left: 30%;
  width: 70%;
}
  #header-tagline { /*header tagline learning difficulty*/
    float: left;
    width: 76%;
  }
  #header-tagline h1 {
    color: #22147c;
    font-family: "Arial Narrow", sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding: 0px 0 0 0;
    text-align: left;
  }
  #header-title {
    color: #ffd300;
    float: left;
    height: 75px;
    text-shadow:                                       /* adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently */
    5px 5px 0 #e57800;
    width: 76%;
  }
  #header-title h1 {
    font-size: 7.3rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  #lottery { /*lottery logo to right of header title and tagline*/
    background: url(../images/lottery.png) no-repeat 0 0/160px;
    float: right;
    height: 119px;              /*helps to pull up area below by not making it too big*/
    width: 24%;
  }
    #nolottery {
      visibility: none;
    }
  #tagline-box {/*contains phone and email taglines*/
    width: 100%;
    clear: both;                /*needed to avoid problems with float:right in header lottery logo*/
  }
    #tagline-email {
      width: 50%;
      float: right;
    }
      #tagline-email p {
        color: #fff;
        float: right;
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        text-shadow:                                       /* adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      }
    #tagline-phone {
      width: 50%;
      float: left;
    }
      #tagline-phone p {
        color: #fff;
        float: left;                                      /* aligns phone text left underneath header text */
        font-size: 2.8rem;
        margin: 0;
        padding: 0;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      }

  #tagline-address {
    clear: both;                              /* needed to prevent lining up with floats on phone/email */
    width: 100%;
  }
    #tagline-address p {
      color: #fff;
      font-size: 1.75rem;
      padding: 0;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }
  #tagline-charity {/*charity no.*/
    width: 100%;
  }
  #tagline-charity p {
    color: #fff;
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }



#footer {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
  #footer a:link {
    color: #fff;
  }
  #footer a:visited {
    color: #fff;
  }

  #footer ul {
    margin-bottom: 0;
  }
  #footer ul li {
    display: inline-block;                                  /* displays everything horizontal instead of vertical */
    margin-right: 20px;
    padding-right: 20px;
  }
  #footer ul li:last-child {
    margin-right: 0;
    padding-right: 0;
  }

/* Navigation IDs */

  #nav {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    height: 113px;        /* aligns content below nav */
    margin-top: 40px;
    text-align: center;
    width: 100%;          /* helps with centring */
  }

    #nav .centre {
      display: inline-block;                                  /* somehow causes nav to centre */
      *display: inline;                                       /* IE7 */
      *zoom: 1;
      width: 95%;
    }

    #navbuttons {                                             /* container for nav buttons */
      margin-top: 100px;
      position: relative;
      text-shadow:                                       /* adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    #navbuttons p {
      margin: 0;
      padding: 0;
    }
    #navbuttons a.nav:link, a.nav:visited {
      text-decoration: none;
      color: #fff;
    }
      /*#navbuttons-aligner {                                   /* helps to centre absolutely positioned buttons below, when resized in breakpoints for smaller resolutions. Stops them from just sitting off-centre at in-between window sizes or resolutions! */
        /*margin: 20px auto 0 auto;
        position: relative;
        width: 880px;
      } commented out due to not being useful for desktop, as want navigation to right align*/



      #home {                                                   /* box for home text in navigation box */
        background: url(../images/nav-orange.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 504px;
        width: 94px;
        z-index: 150;
      }
      #home p {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      #events {
        background: url(../images/nav-yellow.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 420px;
        width: 94px;
        z-index: 140;
      }
      #events p {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      #diary {
        background: url(../images/nav-blue.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 336px;
        width: 94px;
        z-index: 130;
      }
      #diary p {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      #news {
        background: url(../images/nav-yellow.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          top: 0px;
          right: 252px;
        width: 94px;
        z-index: 120;
      }
      #news p {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      #videos {
        background: url(../images/nav-orange.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 168px;
        width: 94px;
        z-index: 110;
      }
      #videos p {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      #admin {
        background: url(../images/nav-blue.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          top: 0px;
          right: 84px;
        width: 94px;
        z-index: 100;
      }
      #admin p {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      #findus {
        background: url(../images/nav-orange.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          top: 0px;
          right: 0px;
        width: 94px;
        z-index: 90;
      }
      #findus p {
        position: absolute;
        top: 10px;
        left: 15px;
      }

/* Nav IDs end */

#sitemap {
  font-size: 2.5rem;
  margin: 20px auto;
  text-align: center;
  width: 50%;
}

#table {                                                  /* table on contacts page etc */
  margin: 0 auto;
  table-layout: fixed;
  width: 75%;
}
#table td {
  word-wrap: break-word;
}
#tableBig {                                               /* tables with more columns */
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
}

#top {                                                    /* navigation links at top of each page */
  color: #fff;
  font-size: 1.75rem;
  text-align: right;
  width: 100%;                                            /* helps with centring navigation */
}
#top a:hover {
  color: #fff;
}
#top a:link {
  color: #fff;
}
#top a:visited {
  color: #fff;
}
#top ul {
  margin: 20px 0 0 0;                                       /* removes margin so aligns with bottom of box better
                                                          - keeps margin on top to space from other text*/
}

#top ul li {
  display: inline-block;                                /* wraps with viewport size */
  font-size: 1.5rem;
  margin-right: 20px;                                   /* spacing for list items when horizontal */
  text-align:left;
  *display:inline;/* IE7 */
  *zoom:1;

}
#top ul li:last-child {
  margin-right: 0;                                        /* prevents margin from throwing off last list item */
}

div a.nostyle {
  color: #000;
  text-decoration: none;
}

h1,h2,h3,h4.title {                                                /* title at top of all content pages */
  padding: 1em 0 1.5em 0;
  text-align: center;
}
h2.mission {
  margin: 0;
  padding: 1em 0 0.5em 0;
}
h3.contents {
  padding: 1.5em 0 0 0;
}

img.200 {
  width: 200px;
}
img.content-box-img-fullwidth { /*image fits exactly within content box and fills it*/
  margin: 0;
  padding: 0;
  width: 100%;
}
img.fluid {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 9% 0 9%;
}
img.left {
  float: left;
}
img.right {
  float: right;
}

p.backtotop {
  font-weight: bolder;
  padding: 2em 0 2em 0;
  text-align: center;
}
p.centre {
  text-align: center;
}
p.content-box-p { /*for paragraphs in content boxes*/
  font-size: 2rem;
  padding: 30px 0 20px 0;
}
p.content-box-p-big { /*for emphasis paragraphs in content boxes*/
  font-size: 2.2rem;
  padding: 30px 0 20px 0;
}
p.content-box-p-objective { /*special adjustment just for the objectives box*/
  font-size: 2rem;
  padding: 30px 10px 20px 10px;
}

tbody.diary td { /*helps with diary layout, makes it less massive*/
  padding: 0.2em;
  margin: 0;
  text-align: center;
}


ul.body {
  padding-left: 0.5em;
  margin: 0 auto;
  width: 70%;
}
ul.compact {
  margin: 0 auto;
  padding: 0.5em;
  width: 70%;
}
ul.compact li {
  padding: 0;
  margin: 0;
}
ul.contents {
  list-style: none;
  margin: 20px auto;
  padding: 0.5em;
  text-align: center;
  width: 70%;
}
ul.contents li {
  padding: 0;
}
ul.lesspadding {
  padding-left: 3em;
  width: 70%;
}
ul.nostyle {                                             /* removes styling from lists as needed */
  list-style: none;
  margin-left: 1.5rem;
}


.background-blue {
  background: #50a6cd;
}
.background-blue-dark {
  background: #0082ba;
}
.background-blue-light {
  background: #50a6cc;
}
.background-blue-lighter {
  background: #70d0ff;
}
.background-yellow {
  background: #fae055;
}
.background-yellow-deep {
  background: #ffd301;
}
.background-orange {
  background: #ffa123;
}
.background-orange-mid {
  background: #ffba58;
}
.background-orange-light {
  background: #ffde82;
}
.background-orange-light-resize { /*basically a version that will disappear on lower breakpoints, used for home page image that goes 200% size*/
  background: #ffde82;
}
.background-purple {
  background: #d2c9fa;
}
.background-teal {
  background: #52bda5;
}

.content-box-col-orange { /*for column content items - accompany with appropriate columns class from Skeleton*/
  background: #ffde82;
  border-bottom: 40px solid #ffb65a;
  margin-bottom: 5%;
}
.content-box-col-yellow { /*for column content items - accompany with appropriate columns class from Skeleton*/
  background: #fae055;
  border-bottom: 40px solid #ffd300;
  margin-bottom: 5%;
}
.content-box-img-fullwidth-25 { /*contains .content-box-img-fullwidth and lets it stack against 3 others horizontally*/
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}
.content-box-wide { /*for wide content items - doesn't need to be accompanied by twelve columns class*/
  border-bottom: 40px solid #ffb65a;
  margin: 3% 0 3% 5%;
  width: 90%;
}
.content-box-wide-yellow {
  border-bottom: 40px solid #ffd300;
  margin: 3% 0 3% 5%;
  width: 90%;
}

.centre {
  text-align: center;
}
.centre-400 {                                             /* centres images with 400px width */
  margin: 0 auto;
  max-width: 100%;
  width: 400px;
}
.centre-600 {                                             /* centres images with 600px width */
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
}
.clear {
  clear: both;
}

.header-blue { /*3D blue style headers*/
  border-bottom: 8px solid;
  color: #46a2c2;
  text-shadow: 2px 0px 0 #0d6eac;
  margin: 0 auto;
  padding-bottom: 0;
  width: 75%;
}
.header-50 { /*title with reduced width and padding etc, useful for content boxes and to prevent border from going too far*/
  margin: 0 auto;
  width: 50%;
}
.header-content-box { /*for inside content boxes*/
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 50%;
}
.header-orange { /*3D blue style headers*/
  border-bottom: 8px solid;
  color: #fd8f1c;
  text-shadow: 2px 0px 0 #b35e00;
  margin: 0 auto;
  padding-bottom: 0;
  width: 75%;
}
.header-purple { /*3D purple style*/
  border-bottom: 8px solid;
  color: #795dd6;
  margin: 0 auto;
  padding-bottom: 0;
  text-shadow: 2px 0px 0 #5a36cb;
  width: 75%;
}
.header-purple-sub { /*for underneath other larger headers*/
  color: #5a36cb;
  margin: 0 auto;
  padding: 0;
  text-shadow: 2px 0px 0 #22007c;
  width: 75%;
}

.img-box-tiny {
  margin: 0 auto;
  padding: 1%;
  width: 25%;
}

.left {
  float: left;
}

.newsbox { /*styles for stuff entered via Perch custom news article template*/
}
  .newsbox h1 {
    margin: 0;
    padding: 2% 5% 2% 5%;
    text-align: center;
  }
  .newsbox h2 {
    margin: 0;
    padding: 2% 5% 2% 5%;
    text-align: center;
  }
    .newsbox h2.news-title {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 75%;
    }
  .newsbox h3 {
    margin: 0;
    padding: 2% 5% 2% 5%;
    text-align: center;
  }
    .newsbox h3.news-date {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 75%;
    }
  .newsbox h4 {
    font-size: 2.9rem;
    margin: 0;
    padding: 2% 5% 2% 5%;
    text-align: left;
  }
  .newsbox h5 {
    font-size: 2.7rem;
    margin: 0;
    padding: 2% 5% 2% 5%;
    text-align: center;
  }
  .newsbox h6 {
    font-size: 2.5rem;
    margin: 0;
    padding: 2% 5% 2% 5%;
    text-align: center;
  }
  .newsbox img { /*targets images that are alone*/
    margin: 0 0 0 25%;
    padding: 0;
    width: 50%;
  }
  .newsbox p img { /*targets the images when they're two in a line as they're always in <p> tags*/
    margin: 0;
    padding: 0;
    width: 45%; /*to compensate for 10% margin on first image below - 45+45=90 and then 10% margin*/
  }
  .newsbox p img:first-child {
    margin-right: 10%; /*so there's some space between two images in a line*/
  }

.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}

.right {
  float: right;
}

.small {
  font-size: 1.5rem;
}
.spacer {                                                /* works with Skeleton to allow white space between vertically stacked divs */
  float: left;
  height: 3em;
  width: 100%;
}

.vertical-top {
  vertical-align: top;
}

/*YouTube embed responsive solution from https://coolestguidesontheplanet.com/videodrome/youtube/*/

  .video-container {
  	position:relative;
  	padding-bottom:56.25%;
  	padding-top:30px;
  	height:0;
  	overflow:hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }
